<div class="container mt-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">DataTable Walk through</li>
      </ol>
    </nav>
  </div>


<section class="g-py-60">
  <div class="container">
    <h1>Indetail Walk through of DataTable</h1>
    <p>This is widget's online documentation.</p>
  </div>
</section>



<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Real Application View</h2>
      </div>
      <!-- <p class="g-font-size-16">Placeholder for description text</p> -->
    </header>


    <!-- <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item" *ngFor="let image of images;let i= index">
        <img class="slide-image" src="{{image.image}}">
        <div class="slide-text">
          <h4>{{image.text}}</h4>
        </div>
      </div>
    </owl-carousel> -->
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of images" [id]="slide.id">
        <img [src]="slide.image" [alt]="slide.alt" [title]="slide.text">
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Widget overview</h2>
      </div>
    </header>
    <p class="g-font-size-16">This sample shows how to display a
      Data Table with three columns: name,
      age, and profession. The columns are defined by three Data Column objects.
      The table contains three rows of data for three example users, the data for
      which is defined by three Data Row objects</p>
    <p class="g-font-size-16">Parameters
      passed in the DataTableSchema object are: </p>
    <ul>
      <li>columns</li>
      <li>sortColumnIndex</li>
      <li>sortAscending</li>
      <li>rows</li>
    </ul>
    <p class="g-font-size-16">An empty data table with only headers is created if user doesn’t pass any
      rows.</p>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Sample Implementation Widget Code</h2>
      </div>
      <!-- <p class="g-font-size-16">Sample Implementation:</p> -->
    </header>

    <figure class="highlight">
      <pre>
        <code>
    Row row1= new Row ([([" Nadal", " 23", "Tennis Player"]);
    Row row2= new Row ([([" Messi", " 32", "Footballer"]);
    Row row3= new Row Ganguly "", " 45", "Cricketer"]);
    Row row4= new Row ([([" Woods", " 46", "Golfer"]);
    List&lt;Row&gt; rows=[];
    rows.addAll ([row1 row2 row3 row4]);
    Columns column = new Columns ([([" Name", " Age", "Professional"]);
    DataTableSchema dt= new DataTableSchema (column , 1 , true, rows );

    CustomisedDataTable(dt)
        </code>
      </pre>
    </figure>
  </div>
</section>
