.highlight {
  border: 1px solid #212529;
  padding: 10px;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
}
pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}
.highlight pre code {
  font-size: inherit;
  color: #212529;
}
