<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Custom Grid View Walk through</li>
    </ol>
  </nav>
</div>


<section class="g-py-60">
  <div class="container">
    <h1>Indetail Walk through of Custom Grid View</h1>
    <p>This is widget's online documentation.</p>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Real Application View</h2>
      </div>
      <!-- <p class="g-font-size-16">Placeholder for description text</p> -->
    </header>


    <!-- <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let image of images;let i= index">
      <img class="slide-image" src="{{image.image}}">
      <div class="slide-text">
        <h4>{{image.text}}</h4>
      </div>
    </div>
  </owl-carousel> -->
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of images" [id]="slide.id">
        <img [src]="slide.image" [alt]="slide.alt" [title]="slide.text">
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Widget overview</h2>
      </div>
    </header>
    <p class="g-font-size-16">This sample shows how to display a Grid View with two grids.</p>
    <p class="g-font-size-16">The grids are defined by 2 objects: AreaList and Grid.</p>
    <p class="g-font-size-16">The AreaList is a list of Area type objects, which contain the Grid Header, Grid Widget, and Grid Label. </p>
    <p>The Grid object contains the cross axis count and the name of the route which has to be done when tapped on the grid. </p>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Sample Implementation Widget Code</h2>
      </div>
      <!-- <p class="g-font-size-16">Sample Implementation:</p> -->
    </header>

    <figure class="highlight">
      <pre>
      <code>
    List&lt;Area&gt; AreaList = [];

    ImageData imageobj= new ImageData("http://sampleurl",400.0,300.0);
    Area Obj1 = new Area("Image Title", CustomisedImage(imageobj),"The beautiful night");
    IconState icon =new IconState(Icons.beach_access, Colors.blue,36.0);
    Area Obj2 = new Area("Icon Title", CustomisedIcon(icon), "Blue Umbrella Icon");
    AreaList.add(Obj1);
    AreaList.add(Obj2);

    Grid gridobj=new Grid(2,'/second');

    CustomisedGridView(AreaList, gridobj)
      </code>
    </pre>
    </figure>
  </div>
</section>
