<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Custom App bar Walk through</li>
    </ol>
  </nav>
</div>


<section class="g-py-60">
  <div class="container">
    <h1>Indetail Walk through of Custom App bar</h1>
    <p>This is widget's online documentation.</p>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Real Application View</h2>
      </div>
      <!-- <p class="g-font-size-16">Placeholder for description text</p> -->
    </header>


    <!-- <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let image of images;let i= index">
      <img class="slide-image" src="{{image.image}}">
      <div class="slide-text">
        <h4>{{image.text}}</h4>
      </div>
    </div>
  </owl-carousel> -->
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of images" [id]="slide.id">
        <img [src]="slide.image" [alt]="slide.alt" [title]="slide.text">
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Widget overview</h2>
      </div>
    </header>
    <p class="g-font-size-16">This sample shows how to display a dropdown button consisting of the list of items passed in by the user and allow the user to select any one of the provided options.</p>
    <p class="g-font-size-16">Parameters passed in the DataTableSchema object are: fbKey , labelText, itemsList , hintText</p>
    <p class="g-font-size-16">A dropdown list with default options is created if user doesn’t pass any list.</p>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Sample Implementation Widget Code</h2>
      </div>
      <!-- <p class="g-font-size-16">Sample Implementation:</p> -->
    </header>

    <figure class="highlight">
      <pre>
      <code>
        DropDownParameters finalObject =
        new DropDownParameters(fbKey:null,labelText: "Select one",itemsList:['Delhi','Bangalore','Kolkata'], hintText: 'Options');

        CustomDropdownList(finalObject)
      </code>
    </pre>
    </figure>
  </div>
</section>
