<!-- <button routerLink='widget'>Link</button>
<p><a href="widget">Link2</a></p> -->

<section class="g-py-60">
  <div class="container">
    <h1>Flutter Widget Catalogue</h1>
    <p>Here is our widget catalogue which demonstrates the look and feel and specification in detail</p>
  </div>
</section>

<!-- Widget list 1 -->
<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Layout</h2>
      </div>
      <!-- <p class="g-font-size-16">Placeholder for description text</p> -->
    </header>

    <div class="row">

      <!-- Table View Projects -->
      <div class="col-lg-3 col-md-6 g-mb-30 g-mb-0--lg">
        <article class="u-block-hover u-shadow-v21 img-holder round-big">
          <a href="widget">
            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
              <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/images/Flutter_Images/46420941-2.jpg"
                alt="Image description">
            </figure>

            <header class="u-bg-overlay__inner g-pos-abs icon-hdr-pos">
              <p>Data Table</p>
            </header>
          </a>
        </article>
      </div>

      <!-- grid -->
      <div class="col-lg-3 col-md-6 g-mb-30 g-mb-0--lg">
        <article class="u-block-hover u-shadow-v21 img-holder round-big">
          <a href="grid">
            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
              <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/images/Flutter_Images/Picture2-thumb.jpg"
                alt="Image description">
            </figure>

            <header class="u-bg-overlay__inner g-pos-abs icon-hdr-pos">
              <p>Grid View</p>
            </header>
          </a>
        </article>
      </div>

    </div>
  </div>
</section>
<!-- End Widget list 1 -->

<!-- Widget list 2 -->
<section class="g-py-60 bg-white">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Input</h2>
      </div>
      <!-- <p class="g-font-size-16">Placeholder for description text</p> -->
    </header>

    <div class="row">

      <!-- Icon Button -->
      <div class="col-lg-3 col-md-6 g-mb-30 g-mb-0--lg">
        <article class="u-block-hover u-shadow-v21 img-holder round-big">
          <a href="iconbtn">
            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
              <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/images/Flutter_Images/Picture5-thumb.jpg" alt="Image description">
            </figure>

            <header class="u-bg-overlay__inner g-pos-abs icon-hdr-pos">
              <p>Icon Button</p>
            </header>
          </a>
        </article>
      </div>

      <!-- Flat Button -->
      <div class="col-lg-3 col-md-6 g-mb-30 g-mb-0--lg">
        <article class="u-block-hover u-shadow-v21 img-holder round-big">
          <a href="fltbtn">
            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
              <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/images/Flutter_Images/Picture6-thumb.jpg" alt="Image description">
            </figure>

            <header class="u-bg-overlay__inner g-pos-abs icon-hdr-pos">
              <p>flat icon</p>
            </header>
          </a>
        </article>
      </div>

      <!-- Floating Action Button -->
      <div class="col-lg-3 col-md-6 g-mb-30 g-mb-0--lg">
        <article class="u-block-hover u-shadow-v21 img-holder round-big">
          <a href="floatbtn">
            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
              <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/images/Flutter_Images/Picture7-thumb.jpg" alt="Image description">
            </figure>

            <header class="u-bg-overlay__inner g-pos-abs icon-hdr-pos">
              <p>Floating Action Button</p>
            </header>
          </a>
        </article>
      </div>


      <!-- Outline Button -->
      <div class="col-lg-3 col-md-6 g-mb-30 g-mb-0--lg">
        <article class="u-block-hover u-shadow-v21 img-holder round-big">
          <a href="outlinebtn">
            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
              <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/images/Flutter_Images/Picture8-thumb.jpg" alt="Image description">
            </figure>

            <header class="u-bg-overlay__inner g-pos-abs icon-hdr-pos">
              <p>Outline Button</p>
            </header>
          </a>
        </article>
      </div>

    </div>
  </div>
</section>
<!-- End Widget list 2 -->


<!-- Widget list 3 -->
<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Interaction model</h2>
      </div>
      <!-- <p class="g-font-size-16">Placeholder for description text</p> -->
    </header>

    <div class="row">

      <!-- appbar -->
      <div class="col-lg-3 col-md-6 g-mb-30 g-mb-0--lg">
        <article class="u-block-hover u-shadow-v21 img-holder round-big">
          <a href="appbar">
            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
              <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/images/Flutter_Images/Picture3-thumb.jpg"
                alt="Image description">
            </figure>

            <header class="u-bg-overlay__inner g-pos-abs icon-hdr-pos">
              <p>App bar</p>
            </header>
          </a>
        </article>
      </div>

      <!-- dropdown -->
      <div class="col-lg-3 col-md-6 g-mb-30 g-mb-0--lg">
        <article class="u-block-hover u-shadow-v21 img-holder round-big">
          <a href="dropdown">
            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
              <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/images/Flutter_Images/Picture4-thumb.jpg"
                alt="Image description">
            </figure>

            <header class="u-bg-overlay__inner g-pos-abs icon-hdr-pos">
              <p>Dropdown Button</p>
            </header>
          </a>
        </article>
      </div>

    </div>
  </div>
</section>
<!-- End Widget list 3 -->

