<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Custom Outline Button Walk through</li>
    </ol>
  </nav>
</div>


<section class="g-py-60">
  <div class="container">
    <h1>Indetail Walk through of Custom Outline Button</h1>
    <p>This is widget's online documentation.</p>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Real Application View</h2>
      </div>
      <!-- <p class="g-font-size-16">Placeholder for description text</p> -->
    </header>


    <!-- <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let image of images;let i= index">
      <img class="slide-image" src="{{image.image}}">
      <div class="slide-text">
        <h4>{{image.text}}</h4>
      </div>
    </div>
  </owl-carousel> -->
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of images" [id]="slide.id">
        <img [src]="slide.image" [alt]="slide.alt" [title]="slide.text">
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Widget overview</h2>
      </div>
    </header>
    <p class="g-font-size-16">A material component which displays an outline button</p>
    <p class="g-font-size-16">Parameters passed in the object are:</p>
    <ul>
      <li>BorderSide</li>
      <li>Label</li>
      <li>onpressed()</li>
      <li>onLongpress()</li>
      <li>shape</li>
      <li>color</li>
    </ul>
    <p>An button with default color, shape and value  is created if user doesn’t specify.</p>
  </div>
</section>

<section class="g-py-60">
  <div class="container">
    <header class="g-mb-50">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h2 u-heading-v2__title g-color-gray-dark-v2">Sample Implementation Widget Code</h2>
      </div>
      <!-- <p class="g-font-size-16">Sample Implementation:</p> -->
    </header>

    <figure class="highlight">
      <pre>
      <code>
        Outlinebuttonparam f3 = new Outlinebuttonparam(
          con.outlineButtonBorderSide, 'Submit', (), (), con.OutlineButtonShape, PwCMediumGreyThemeData().buttonColor
          );

        CustomOutlineButton(f3)
      </code>
    </pre>
    </figure>
  </div>
</section>
