@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$pbColor : #ffb600;

body {
  background-color: #f7f7f7;
}
.bg-white {
  background-color: white;
}
.form-control.round, .btn.round {
  border-radius: 100px;
}
.u-header {
  box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.09);
}
.u-heading-v2a__title {
  font-size: 2rem;
}

.img-holder {
  min-height: 255px;
  cursor: pointer;
  background-color: $pbColor;
  margin-bottom: 30px;
  figure {
    width: 100%;
    min-height: 255px;
    margin: 0;
  }
  img {
    width: 100%;
    min-height: 255px;
    object-fit: cover;
  }
  .icon-hdr-pos {
    width: 100%;
    bottom: 0px;
    left: 0px;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(255,255,255,.95);//#2d2d2d
    padding: 25px 0 15px;
    font-size: 1.2rem;
    color: #2d2d2d;
    border: 1px solid #dedede;
  }
}
.round-big {
  border-radius: 10%;
}
.g-bg-black-opacity-0_4--after::after {
  background-color: rgba(0, 0, 0, 0) !important;
}
.btn-outline-theme {
  background-color: $pbColor;
  &:hover {
    background-color: white;
    border-color: $pbColor;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: capitalize;
}
.owl-carousel .owl-item {
  text-align: center;
  margin-bottom: 30px;
  img {
    max-height: 440px;
    width: auto;
    margin: auto;
    border-radius: 18px;
  }
}
.highlight {
  background-color: #dedede;
}
.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}
.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  a {
    color: #e0301e;
  }
}
